<!-- section content begin -->
<div class="uk-section uk-section-muted uk-padding-large in-wave-3 uk-background-contain uk-background-center" style="background-image: url({{root}}img/in-wave-background-1.png);" data-uk-parallax="bgy: -200">
    <div class="uk-container">
        <div class="uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-2@m">
                <img class="uk-margin-bottom" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-wave-icon-5.svg" alt="wave-icon" width="64" height="64" data-uk-img>
                <h1 class="uk-margin-remove">Market <span class="in-highlight">analysis</span> and<br>trade inspiration</h1>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident dolorem eum fugiat voluptas nulla pariatur.</p>
                <div class="uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-margin-medium-top" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <img class="uk-margin-remove-bottom" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-wave-icon-6.svg" alt="wave-icon" width="52" height="52" data-uk-img>
                            <h5 class="uk-margin-small-top">Strategies &amp; Discussions</h5>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <img class="uk-margin-remove-bottom" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-wave-icon-7.svg" alt="wave-icon" width="52" height="52" data-uk-img>
                            <h5 class="uk-margin-small-top">Forecasts &amp; Educations</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m">
                <div class="uk-inline uk-dark in-wave-video uk-margin-small-bottom">
                    <img class="uk-border-rounded uk-width-1-1" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-wave-image-1.jpg" alt="wave-video" width="533" height="355" data-uk-img>
                    <div class="uk-position-center">
                        <a href="#modal-media-youtube" data-uk-toggle>
                            <div class="in-play-button"></div>
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                    <div id="modal-media-youtube" class="uk-flex-top" data-uk-modal>
                        <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical in-iframe">
                            <button class="uk-modal-close-outside" type="button" data-uk-close></button>
                        </div>
                    </div>
                </div>
                <p class="uk-text-small uk-text-muted">Explore the markets at your own pace with short online courses. <span class="uk-label uk-text-small uk-border-pill">Sign up</span></p>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
