<!-- section content begin -->
<div class="uk-section uk-section-primary uk-section-xsmall">
    <div class="uk-container in-wave-1">
        <div class="uk-grid uk-grid-divider uk-child-width-1-2@s uk-child-width-1-4@m in-margin-top@s in-margin-bottom@s" data-uk-grid>
            <div>
                <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                    <div class="uk-width-auto">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-wave-icon-1.svg" alt="wave-icon" width="48" height="48" data-uk-img>
                    </div>
                    <div class="uk-width-expand">
                        <p>Free<br>analysis tools</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                    <div class="uk-width-auto">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-wave-icon-2.svg" alt="wave-icon" width="48" height="48" data-uk-img>
                    </div>
                    <div class="uk-width-expand">
                        <p>Fast execution<br>0 commision</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                    <div class="uk-width-auto">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-wave-icon-3.svg" alt="wave-icon" width="48" height="48" data-uk-img>
                    </div>
                    <div class="uk-width-expand">
                        <p>Low minimum<br>deposit of $100</p>
                    </div>
                </div>
            </div>                        
            <div>
                <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                    <div class="uk-width-auto">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-wave-icon-4.svg" alt="wave-icon" width="48" height="48" data-uk-img>
                    </div>
                    <div class="uk-width-expand">
                        <p>Over 2,100<br>assets to trade</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
