<!-- module navigation begin -->
<nav class="uk-navbar-container uk-navbar-transparent" data-uk-sticky="show-on-up: true; top: 80; animation: uk-animation-fade;">
    <div class="uk-container" data-uk-navbar>
        <div class="uk-navbar-left uk-width-auto">
            <div class="uk-navbar-item">
                {{> module-logo }}
            </div>
        </div>
        <div class="uk-navbar-right uk-width-expand uk-flex uk-flex-right">
            <ul class="uk-navbar-nav uk-visible@m">
                {{#each navigation.nav}}
                <li><a href="{{root}}{{link}}">{{#with icon}}<i class="fas {{name}} in-home-icon"></i>{{else}}{{title}}{{/with}}{{#if dropdown}}<i class="fas fa-chevron-down"></i>{{/if}}</a>{{#unless dropdown}}</li>{{/unless}}
                    {{#if dropdown.[0].standard}}
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {{#each dropdown.[0].standard}}
                            <li><a href="{{root}}{{link}}">{{title}}{{#with icon}}<i class="fas {{name}} fa-sm"></i>{{/with}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    {{else}}
                    {{#if dropdown.[0].multiple}}
                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                        <div class="uk-navbar-dropdown-grid uk-child-width-1-2" data-uk-grid>
                            <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {{#each dropdown.[0].multiple}}
                                    <li><a href="{{root}}{{link}}">{{title}}{{#with icon}}<i class="fas {{name}} fa-sm"></i>{{/with}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {{#each dropdown.[0].multiple-text}}
                                    <li><a class="uk-disabled" href="#">{{text}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/if}}
                {{#if dropdown}}</li>{{/if}}
                {{/each}}
            </ul>
            <div class="uk-navbar-item uk-visible@m in-optional-nav">
                <a href="signin.html" class="uk-button uk-button-text"><i class="fas fa-user-circle uk-margin-small-right"></i>Log in</a>
                <a href="#" class="uk-button uk-button-primary uk-button-small uk-border-pill">Sign up</a>
            </div>
        </div>
    </div>
</nav>
<!-- module navigation end -->
