<!-- module logo begin -->
<a class="uk-logo" href="{{root}}index.html">
    <img class="uk-margin-small-right in-offset-top-10" {{#ifpage 'index' 'homepage2' 'homepage3' 'homepage4'}}src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-logo-1.svg"{{/ifpage}}{{#unlesspage 'index' 'homepage2' 'homepage3' 'homepage4'}}src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-logo-2.svg"{{/unlesspage}} alt="wave" width="134" height="23" data-uk-img>
</a>
<!-- module logo begin -->
